block head 
    include ../views/head.pug
    body
        block nav
            include ../views/nav.pug
        block body
            include ../views/body.pug
        block footer 
            include ../views/footer.pug